body {
    background-color: azure;
}

#game {
    width: 98vw;
    height: 70vh;
    border: 5px solid red;
    position:relative;
}

#player {
    width: 5vh;
    height: 5vh;
    background-color: blue;
    position: absolute;
    left: 12px;
    right: 0;
    overflow: hidden;
    bottom: 100;
    transition: bottom 1s ease-out, left 2s, rotate 1s;
    touch-action: manipulation;
}

