body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

#logo {
    width: 100px;
    height: 20px;
    position:fixed;
    top: 10px;
    left: 30px;
    float: left;
    vertical-align: top;
}

#mainContainer {
    position: absolute;
    top: 20%;
    left: 2vw;
}

#slogan {
    font-family: 'Cal Sans';
    line-height: 1.1;
    color:rgba(33, 65, 87, 0.428);
    font-weight: 100;
    font-size: 3vw;
}