body {
    margin: 0;
    padding: 0;
    background:
        radial-gradient(at 0% 0%, rgb(174, 80, 225) 0, transparent 50%),
        radial-gradient(at 50% 0%, rgb(37, 227, 167) 0, transparent 50%),
        radial-gradient(at 100% 0%, rgb(86, 187, 254) 0, transparent 50%),
        radial-gradient(at 50% 100%, rgb(120, 73, 228) 0, transparent 50%),
        radial-gradient(at 0% 100%, rgb(76, 0, 253) 0, transparent 50%),
        radial-gradient(at 0% 50%, rgb(71, 160, 232) 0, transparent 50%),
        radial-gradient(at 100% 100%, rgb(50, 132, 255) 0, transparent 50%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    background-position: center;
    background-attachment: fixed;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    animation-name: bg;
    animation-duration: 1s;
    animation-name: bg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#logo {
    width: 8vmin;
    height: 1.6 vmin;
    position: fixed;
    top: 1vmin;
    left: 1.5vmin;
    float: left;
    vertical-align: top;
    animation-name: Mlogo;
    animation-duration: 1s;
}

#mainContainer {
    position: absolute;
    top: 20%;
    left: 2vw;
}

#slogan {
    font-family: 'Cal Sans';
    line-height: 1.1;
    color: rgba(253, 254, 255, 0.874);
    font-weight: 100;
    font-size: 7vmin;
    animation: mainT 1s ease-out forwards;
    transition: font-size 0.5s, color 1s, text-shadow .5s;
}

#tInput {
    width: 50vmin;
    height: 3.7vmin;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
    padding-left: 3vmin;
    font-size: 1.7vmin;
    font-family: 'Baumans';
    color: white;
}

#slogan:hover {
    font-size: 7.1vmin;
    color: rgba(251, 252, 252, 0);
    text-shadow:
        0 0 2px white,
        0 0 4px rgba(255, 255, 255, 0.816),
        0 0 6px rgba(255, 255, 255, 0.706),
        0 0 8px rgba(255, 255, 255, 0.494),
        0 0 10px rgba(255, 255, 255, 0.396),
        0 0 12px rgba(255, 255, 255, 0.246),
        0 0 14px rgba(255, 255, 255, 0.137),
        0 0 16px rgba(255, 255, 255, 0.027);
}


#searchbar {
    display: flex;
    width: 53vmin;
    height: 4vmin;
    background-color: rgba(240, 248, 255, 0.558);
    border-radius: 70vmin;
    border: 0.3vmin solid rgba(255, 255, 255, 0.621);
    animation-name: bar;
    animation-duration: 1S;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding-right: 1.4vmin;
    padding-bottom: 0px;
    transition: background-color .5s, box-shadow .5s, backdrop-fliter .5s;
}

#searchbar:hover {
    box-shadow:
        0 0 5px white,
        0 0 10px rgba(255, 255, 255, 0.816),
        0 0 15px rgba(255, 255, 255, 0.706),
        0 0 20px rgba(255, 255, 255, 0.494),
        0 0 25px rgba(255, 255, 255, 0.396),
        0 0 30px rgba(255, 255, 255, 0.246),
        0 0 35px rgba(255, 255, 255, 0.137),
        0 0 40px rgba(255, 255, 255, 0.027);
    background-color: rgba(255, 255, 255, 0.234);
    backdrop-filter: blur(5px);
}

@keyframes bar {
    from {
        width: 0vmin;
        background-color: aliceblue;
        opacity: 0;
    }

    to {
        width: 53vmin;
        background-color: rgba(240, 248, 255, 0.558);
        opacity: 1;
    }
}

@keyframes mainT {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        transform: translateY(10px);
    }
}

* {
    user-select: none;
}

@keyframes Mlogo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#Sicon {
    align-self: center;
    font-size: 4vmin;
    color: rgba(240, 248, 255, 0.615);
    animation: searchI 1s;
    animation-delay: 1s;
}