body {
    margin: 0;
    padding: 0;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

#logo {
    width: 8vmin;
    height: 1.6 vmin;
    position:fixed;
    top: 10px;
    left: 1.5vmin;
    float: left;
    vertical-align: top;
}

#mainContainer {
    position: absolute;
    top: 20%;
    left: 2vw;
}

#slogan {
    font-family: 'Cal Sans';
    line-height: 1.1;
    color:rgb(179, 246, 255);
    font-weight: 100;
    font-size: 7vmin;
    
}