body {
  background-color: white;
}

h1 { font-family: monaco, Consolas, Lucida Console, monospace; font-size: 26px; font-style: oblique; font-variant: normal; font-weight: 400; line-height: 31.2px; }


p { font-family: monaco, Consolas, Lucida Console, monospace; font-size: 14px; font-style: oblique; font-variant: normal; font-weight: 400; line-height: 25.2px; }
