body {
    background-color: rgb(0, 0, 0);
    align-self: center !important;
    align-content: center !important;
    align-items: center !important;
    text-align: center !important;
    font-family: 'Tiktok Sans';
    color: rgb(138, 200, 255);
}

#fc {
    font-size: 10vh;
    font-family: 'Audiowide';
    color: rgba(255, 255, 255, 0.8);
}

#warning {
    width: 30vw;
    height: 40vh;
    background-color: rgba(225, 255, 0, 0.206);
    align-self: center;
    position: absolute;
    top: 30vh;
    left: 35%;
    border-radius: 50px;
    ;
    color: rgb(234, 255, 0);
}

button {
    cursor: pointer;
}

#flc {
    font-family: 'Audiowide';
    color: rgba(255, 255, 255, 0.663);
    font-size: 3vh;
}

#we {
    font-size: 10vh;
}

#fcont {
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 15vw;
    height: 75vh;
    background: #ffffff34;
    position: relative;
    border-radius: 70px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    min-height: 200px;
}

.fw {
    width: 12vw;
    height: 30px; 
    background-color: #ffffff51;
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 10px auto;
    padding: 0 10px;
    
    font-size: 12px;
    box-sizing: border-box;
    
}