body {
    background-color: rgb(0, 0, 0);
    align-self: center !important;
    align-content: center !important;
    align-items: center !important;
    text-align: center !important;
    font-family: 'Tiktok Sans';
    color: rgb(138, 200, 255);
}

#fc {
    font-size: 10vh;
    font-family: 'Audiowide';
    color: rgba(255, 255, 255, 0.8);
}

#warning {
    width: 30vw;
    height: 40vh;
    background-color: rgba(225, 255, 0, 0.206);
    align-self: center;
    position: absolute;
    top: 30vh; left: 35%;
    border-radius: 50px;;
    color: rgb(234, 255, 0);
}

button {
    cursor: pointer;
}

#flc {
    font-family: 'Audiowide';
    color: rgba(255, 255, 255, 0.663);
}