body {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: Arial;
    font-weight: 100;
}

#tool_bar {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: gainsboro;
    width: 99vw;
    height: 3vh;
    display: flex;
    border-radius: 4px;
    display: flex;
}

.picker {
    width: 20px;
    height: 20px;
    border: none;
    border-style: none;
    border-radius: 8px;
}

.tool_bar_selections {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 2.7vh;
    width: 5vw;
    border-radius: 8px;
    background-color: rgb(183, 183, 183);
    font-size: 12px;
    cursor: pointer;
}

#font_picker {
    width: 4vw;
    height: 0.6vw;
    border-radius: 5px;
}

#txt_size {
    width: 2vw;
    height: 0.6vw;
    border-radius: 5px;
}



#document_writing {
    width: 97vw;
    height: 92vh;
    font-size: 20px;
    border: 1px solid rgb(211, 211, 211);
}

#search {
    width: 50vw;
    height: 4vh;
    color: red;
}

label {
    text-shadow: 1px 1px red, -1px -1px blue;
}