body {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: rgb(46, 46, 46);
    background-color: white;
    font-family: Arial;
    font-weight: 100;
}

#tool_bar {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: gainsboro;
    width: 99vw;
    height: 3vh;
    display: flex;
    border-radius: 4px;
    display: flex;
}

.picker {
    width: 1vw;
    height: 1vw;
    border: none;
    border-style: none;
    border-radius: 8px;
}

.tool_bar_selections {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 2.7vh;
    width: 5vw;
    border-radius: 8px;
    background-color: rgb(183, 183, 183);
    font-size: 12px;
    cursor: pointer;
}

#font_picker {
    width: 4vw;
    height: 0.6vw;
    border-radius: 5px;
}

#txt_size {
    width: 2vw;
    height: 0.6vw;
    border-radius: 5px;
}

#testing {
    font-size: 100px;
}